<% include ./partials/header %>

<div class="ui main container">
    <div class="ui huge header">FF Blog</div>
    <div class="ui top attached segment" id="index-container">
        <div class="ui items">
            <% blogs.reverse().forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>" alt="">
                    </div>
                    <div class="content">
                        <a href="/blogs/<%= blog._id %>" class="header"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0, 100) %>.......</p>
                        </div>
                        <div class="extra">
                            <a href="/blogs/<%= blog._id %>" class="ui floated red button">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="ui horizontal divider">
                        <i class="football ball icon brown"></i>
                </div>

            <% }) %>
        </div>
    </div>
</div>
    
<% include ./partials/footer %>