<% include ./partials/header %>

<div class="ui main container">
    <div class="ui huge header">Favorite FF Links</div>
    <div class="ui top attached segment">
        <div class="ui list">
            <% links.forEach(function(link){ %>
                <div class="item">
                        <img src="<%= link.image %>" alt="" srcset="" class="ui avatar image">
                        <div class="content">
                            <div class="header">
                                <a href="<%= link.site %>"><%= link.name %></a>
                                <div class="meta right floated">
                                    <small>Added: <%= link.added.toDateString() %></small>
                                </div>                
                            </div>
                            <div class="description">
                                <p><%= link.description %></p>
                            </div>
                            <div class="extra">
                                <p>Visit site<a href="<%= link.site %>"><i class="right chevron icon red"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="ui horizontal divider">
                            <i class="football ball icon brown"></i>
                    </div>
                <% }) %>
            <a href="/links/new" class="ui button fluid red">Add New Link</a>

        </div>
    </div>
</div>



<% include ./partials/footer %>
