<% include ../partials/header %>

<div class="ui main container text segment outercolored" id="links-container">
    <div class="ui huge header">Favorite FF Links</div>
    <div class="ui top attached segment">
        <div class="ui list">
            <% links.reverse().forEach(function(link){ %>
                <div class="item">
                        <div>
                                <img src="<%= link.image %>" alt="" srcset="" class="ui avatar image">

                        </div>
                        <div class="content">
                            <div class="header">
                                <a href="<%= link.site %>"><%= link.name %></a>
                                <div class="meta right floated">
                                    <small>Added: <%= link.added.toDateString() %></small>
                                </div>                
                            </div>
                            <div class="description" id="link-desc">
                                <p><%= link.description %></p>
                            </div>
                            <div class="extra">
                                <a href="<%= link.site %>"><p>Visit site <i class="right chevron icon red"></i></p></a>
                            </div>
                        </div>
        
                    </div>      
                    <div class="ui horizontal divider">
                            <i class="football ball icon brown"></i>
                    </div>
     
            <% }) %>

            <% if(currentUser){ %>
            <a href="links/new" class="ui compact mini button">Add New Link</a>
            <% } %>
            <a href="/posts" class="ui button mini compact go-back">
                Go Back 
                <i class="arrow left icon"></i>
            </a>
    
        </div>
    <div class="clear"></div>
    
    </div>
</div>



<% include ../partials/footer %>
