<% include ../partials/header %>

<div class="ui main container segment outercolored" id="index-container">
    <div class="ui huge header">FF Blog</div>
    <div class="ui top attached segment">
        <div class="ui items">
            <% posts.reverse().forEach(function(post){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= post.image %>" alt="">
                    </div>
                    <div class="content">
                        <a href="/posts/<%= post._id %>" class="header"><%= post.title %></a>
                        <div class="meta">
                            <span><%= post.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- post.body.substring(0, 100) %>.......</p>
                        </div>
                        <div class="extra">
                            <a href="/posts/<%= post._id %>" class="ui button" id="rm-button">
                                Read More
                            
                                    <i class="angle double right icon"></i>

                                
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="ui divider horizontal">
                        <i class="football ball icon brown"></i>
                </div>

            <% }) %>
        </div>
    </div>
</div>
    
<% include ../partials/footer %>