<% include ../partials/header %>

<div class="ui main container segment outercolored" id="index-container">
    <div class="ui huge header">F-F-Blog</div>
    <div class="ui top attached segment">
        <div class="ui items">
            <% posts.reverse().forEach(function(post){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= post.image %>" alt="">
                    </div>
                    <div class="content">
                        <a href="/posts/<%= post._id %>" class="header"><%= post.title %></a>
                        <div class="meta">
                            <span><%= post.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- post.body.substring(0, 100) %>.......</p>
                        </div>
                        <div class="extra">
                            <a href="/posts/<%= post._id %>" class="ui button compact mini" id="rm-button">
                                Read More
                            
                                    <i class="angle double right icon"></i>

                                
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="ui divider horizontal">
                        <i class="football ball icon brown"></i>
                </div>

            <% }) %>
        </div>
            <!-- pagination -->
            <div class="ui column stackable center page grid">
    <div class="ui pagination menu" id="pagination">
            <% if (pages && pages > 0) { %>
                <% if (current == 1) { %>
                <a class="disabled item">First</a>
                <% } else { %>
                <a class="item" href="/posts">First</a>
                <% } %>
         
                <% if (current == 1) { %>
                <a class="disabled item">«</a>
                <% } else { %>
                <a class="item" href="/posts?page=<%= Number(current) - 1 %>">«</a>
                <% } %>
         
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <a class="disabled item">...</a>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <a class="item" href="/posts?page=<%= i %>"><%= i %></a>
                <% } else { %>
                <a class="item" href="/posts?page=<%= i %>"><%= i %></a>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <a class="disabled item">...</a>
                <% } %>
                <% } %>
         
                <% if (current == pages) { %>
                <a class="disabled item">»</a>
                <% } else { %>
                <a class="item" href="/posts?page=<%= Number(current) + 1 %>">»</a>
                <% } %>
         
                <% if (current == pages) { %>
                <a class="disabled item">Last</a>
                <% } else { %>
                <a class="item" href="/posts?page=<%= pages %>">Last</a>
                <% } %>
            
            <% } %>
    </div>
    </div>

    </div>

</div>
    
<% include ../partials/footer %>