<% include ../partials/header %>

<div class="ui main container text segment outercolored" id="show-container">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui green label floating">
            <span><%= post.created.toDateString() %></span>
        </div>

    <div class="ui top attached segment">
        <div class="item">
            <img src="<%= post.image %>" alt="" class="ui centered rounded image">
        </div>
        <div class="description" id="show-body">
            <p><%- post.body %></p>
        </div>
        <div class="edit-delete">
                <a href="/posts/<%= post._id %>/edit" class="ui button green tiny">Edit &nbsp&nbsp<i class="edit icon"></i></a>
                <span>
                        <form id="deleteForm" method="POST" action="/posts/<%= post._id %>?_method=DELETE">
                            <button class="ui button tiny">Delete &nbsp&nbsp <i class="trash alternate outline icon"></i></button>
                        </form>
                
                </span>
        
        </div>

        <div class="likes-div">
            
            <a class="ui green button likes tiny">
                    Like &nbsp&nbsp
                    <i class="thumbs up outline icon"></i>
                </a>

                <a class="ui button likes tiny">
                        Dislike &nbsp&nbsp
                        <i class="thumbs down outline icon"></i>
                    </a>
        
    
            
        </div>
        <div class="ui horizontal divider seperator" id="show-divider">
                <i class="football ball icon brown"></i>
        </div>
            
        <div class="ui text container segment" id="comments-container">

            <div class="comment-header">
                    <h3 class="ui header white">Comments</h3>
                    <span class="ui green button tiny" id="comment-link"><a href="/posts/<%= post._id %>/comments/new">Add Comment</a></span>
        
            </div>
            <div class="ui top attached segment" id="view-comments">
                <div class="item">

                    <% post.comments.forEach(function(comment){ %>
                        <p><%= comment.text %></p>
                        <p><strong><%= comment.author %></strong> -  <span><%= comment.added.toDateString() %></span> </p>
                        <div class="ui horizontal divider seperator" id="show-divider">
                                <i class="football ball icon brown"></i>
                        </div>
                
                    <% }) %>      
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>