<% include ../partials/header %>

<div class="ui main container text segment outercolored" id="show-container">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui label floating">
            <span><%= post.created.toDateString() %></span>
        </div>

    <div class="ui top attached segment">
        <div class="item">
            <img src="<%= post.image %>" alt="" class="ui centered rounded image">
        </div>
        <div class="description" id="show-body">
            <p><%= post.body %></p>
            <em>
                <p>Submitted By <%= post.author.username %></p>
            </em>
        </div>
        <div class="likes-div">
                <form action="/posts/<%= post._id %>/like" method="POST">
                    <div>
                        <% if(currentUser && post.likes.some(function(like){
                            return like.equals(currentUser._id)
                        })) {%>
                        <button class="ui button mini compact">
                            <i class="thumbs up outline icon"></i> Liked (<%= post.likes.length %>)
                        </button>
                        <% } else { %>
                            <button class="ui button mini compact">
                                    <i class="thumbs up outline icon"></i> Like (<%= post.likes.length %>)
                            </button>
                            <% } %>
                    </div>
                </form>
                                
            
        
                
            </div>

        <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
        <div class="edit-delete">
                <a href="/posts/<%= post._id %>/edit" class="ui button colored-button mini compact">Edit &nbsp&nbsp<i class="edit icon"></i></a>
                <span>
                        <form id="deleteForm" method="POST" action="/posts/<%= post._id %>?_method=DELETE">
                            <button class="ui button mini compact">Delete &nbsp&nbsp <i class="trash alternate outline icon"></i></button>
                        </form>
                
                </span>
        
        </div>
        <!-- <div class="likes-div">
            
            <a class="ui colored-button button likes mini compact" id="likes">
                    Like &nbsp&nbsp
                    <i class="thumbs up outline icon"></i>
                </a>
                
   

                <a class="ui button likes mini compact">
                        Dislike &nbsp&nbsp
                        <i class="thumbs down outline icon"></i>
                    </a>
        
    
            
        </div> -->
        <% } %>


        <div class="ui horizontal divider seperator" id="show-divider">
                <i class="football ball icon brown"></i>
        </div>
            
        <div class="ui text container segment" id="comments-container">

            <div class="comment-header">
                    <h3 class="ui header white">Comments</h3>

                    <span class="ui button mini compact" id="comment-link"><a href="/posts/<%= post._id %>/comments/new">Add Comment</a></span>

            </div>
            <div class="ui top attached segment" id="view-comments">
                <div class="item">

                    <% post.comments.forEach(function(comment){ %>
                        <p><%= comment.text %></p>
                        <p><strong><%= comment.author.username %></strong> -  <span><%= comment.added.toDateString() %></span> </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>

                        <a href="/posts/<%=post._id %>/comments/<%= comment._id %>/edit" class="ui button colored-button mini compact">Edit &nbsp&nbsp<i class="edit icon"></i></a>
                        <form class="delete-form" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" id="delete-button">
                            <button class="ui button mini compact">Delete &nbsp&nbsp <i class="trash alternate outline icon"></i></button>
                        </form>
                        <% } %>

                        <div class="ui horizontal divider seperator" id="show-divider">
                                <i class="comment outline icon"></i>                        </div>
                
                    <% }) %>      
                </div>
            </div>
        </div>
                <a href="/posts" class="ui button mini compact go-back">
                    Go Back 
                    <i class="arrow left icon"></i>
                </a>
        <div class="clear"></div>

    </div>
</div>



<% include ../partials/footer %>